
html {
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Helvetica, sans-serif;
    line-height: 1.25;
    background-color: black;
    font-size: 14px;
   background: black;
}